* {
    margin: 0;
    padding: 0;
    font-family: system-ui, system-ui, sans-serif;
}

header {
    height: 100%;
    background-image: url(../images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    /* filter: blur(1px);
    -webkit-filter: blur(1px) */
}

.banner {
    padding: 180px 400px;
}

.banner .banner-title {
    font-size: 3.5em;
    font-weight: 700;
    text-transform: capitalize;
}

.banner .banner-description {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400px;
}

.btn-primary {
    padding: 18px 18px;
    background-color: rgb(185, 63, 63);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: 700;
}

.donate-container {
    text-align: center;
    /* margin-top: 100px; */
    padding: 100px 400px;
    
}

.donate-container ul {
    display: flex;
    gap: 35px;
    justify-content: center;
}

.donate-container .donate ul li {
    list-style: none;
    padding: 30px 15px;
    background-color: lightgray;
    font-size: 28px;
    font-weight: 700;
    color: gray;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    border: .5px solid lightgray;
    
    
    
}

.donate-container .donate ul li:hover {
    border: .5px solid rgb(185, 63, 63);
    background-color: rgb(195, 152, 152);
    border-radius: 5px;
    color: rgb(183, 52, 52);
    box-sizing: border-box;
    
}

.donate-title {
    font-size: 45px;
    font-weight: 700;
    color: black;
}

.donate-description {
    margin-top: 20px;
    margin-bottom: 50px;
}

.donate-extra {
    margin-top: 40px;
    padding: 20px 0;
    color: gray;
    font-size: 20px;
    font-weight: 400px;
}

.donate-title-div{
width: 600px;
}
.donate-button-div{
    width: 600px;
}